@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Amatic+SC:wght@400;700 & display=swap");
/*nuevo estilo*/
* {
  margin: 0;
  padding: 0;
}

/*---------------------variables-------------------*/
html {
  font-size: 90%;
}

body {
  background-color: #a0722c;
}

/*--------------------------index-----------------------*/
/*--------------------------menu hamburguesa----------------------------*/
header {
  color: rgb(0, 0, 0);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
}
header .barra {
  padding: 0;
}
header .barra .barraDeMenu {
  padding: 0;
  background-color: #661a07 !important;
  font-family: "Kalam", cursive;
  font-weight: 700;
}

.buscador {
  background-color: #FFC107;
}
.buscador form {
  margin: 10px;
}

/*cuerpo*/
.foto1 {
  width: 500px;
  height: 500px;
  margin: 10px;
}

/*-------------------ubicacion----------------------*/
.ubicaciones {
  display: grid;
  background-color: rgb(97, 77, 12);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.listas {
  list-style-image: url("../fotos/localizacion2.png");
  list-style-position: inside;
  margin: 10px 10px 10px 10px;
  width: 180px;
  padding: 5px 5px 5px 5px;
}

/*----------------contacto--------------------*/
footer {
  background-color: #661a07;
  color: rgb(246, 246, 246);
  text-align: right;
  font-size: 16px;
  padding-right: 10px;
  font-family: "Londrina Solid", cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
}
footer ul {
  list-style-type: none;
  margin: 0px;
}

.logos {
  width: 20px;
  height: 20px;
}

/*----------------menu digital---------*/
.contenedorPizza {
  background-image: url(../fotos/pizzeria.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorPizza .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorPizza:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorPizza:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorPizza:hover .vista {
  display: none;
}

.contenedorSandwich {
  background-image: url(../fotos/sanguche.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorSandwich .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorSandwich:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorSandwich:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorSandwich:hover .vista {
  display: none;
}

.contenedorCarneR {
  background-image: url(../fotos/carne\ roja.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorCarneR .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorCarneR:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorCarneR:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorCarneR:hover .vista {
  display: none;
}

.contenedorCarneB {
  background-image: url(../fotos/carne\ blanca.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorCarneB .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorCarneB:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorCarneB:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorCarneB:hover .vista {
  display: none;
}

.contenedorPastas {
  background-image: url(../fotos/pasta.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorPastas .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorPastas:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorPastas:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorPastas:hover .vista {
  display: none;
}

.contenedorClasicos {
  background-image: url(../fotos/hamburguesa.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorClasicos .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorClasicos:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorClasicos:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorClasicos:hover .vista {
  display: none;
}

.contenedorSalsas {
  background-image: url(../fotos/salsa.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorSalsas .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorSalsas:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorSalsas:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorSalsas:hover .vista {
  display: none;
}

.contenedorAsados {
  background-image: url(../fotos/asado.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorAsados .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorAsados:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorAsados:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorAsados:hover .vista {
  display: none;
}

.contenedorComidasV {
  background-image: url(../fotos/comida\ v.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorComidasV .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorComidasV:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorComidasV:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorComidasV:hover .vista {
  display: none;
}

.contenedorInfantil {
  background-image: url(../fotos/menu.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorInfantil .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorInfantil:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorInfantil:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorInfantil:hover .vista {
  display: none;
}

.contenedorPostre {
  background-image: url(../fotos/postre.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorPostre .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorPostre:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorPostre:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorPostre:hover .vista {
  display: none;
}

.contenedorBebidas {
  background-image: url(../fotos/postre.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorBebidas .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorBebidas:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorBebidas:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorBebidas:hover .vista {
  display: none;
}

.contenedorVinos {
  background-image: url(../fotos/vino.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorVinos .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorVinos:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorVinos:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorVinos:hover .vista {
  display: none;
}

.contenedorTragos {
  background-image: url(../fotos/trago.png);
  margin: 5px;
  width: 300px;
  height: 400px;
  padding: 0px;
  transition: all 3s;
}
.contenedorTragos .oculto {
  display: none;
  background-color: #FFC107;
}

.contenedorTragos:hover {
  transition: all 3s;
  padding: none;
  font-family: "Londrina Solid", cursive;
}
.contenedorTragos:hover .oculto {
  display: block;
  background-color: #FFC107;
  width: 300px;
  border-radius: 5px;
}
.contenedorTragos:hover .vista {
  display: none;
}

/*
.contenedorCarta:hover{
    transition: all 3s;
    .vista {
        display: none;
        transition: all 3s;
    }
    .oculta {
        display: block;
        transition: all 3s;
    }
}
.vista {
    display: none;
    transition: all 3s;
}
.oculta {
    display: block;
    transition: all 3s;
}


@keyframes transCarta {
    from {
        display: none
    }
    to {
        display: block
    }
}

@keyframes transCarta2 {
    from {
        display: none
    }

    to {
        display: block
    }
}

.contenedorCarta:hover {
    .vista {
        display: block;
        animation-name: transCarta;
        animation-duration: 3s;
    }

}

.contenedorCarta:hover{
    .oculta{
        display: none;
        animation-name: transCarta2;
        animation-duration: 3s;
    }
}

*/
/*-----------------reserva------------------*/
.calabera {
  width: 100%;
  height: 100%;
}

.tituloRes {
  margin-left: 50px;
  font-family: "Londrina Solid", cursive;
}

.form {
  margin: 5px 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #FFC107;
  width: 60%;
  border-radius: 6px;
  padding-left: 15px;
}

.campos {
  margin: 5px;
  font-family: "Londrina Solid", cursive;
}

/*
.formulario {
    border-radius: 5px;
    width: 200px !important;
    margin: 10px;
}
*/
/*media queris*//*# sourceMappingURL=estilo.css.map */